# configs and main entry
.env*
!.env.example

# caches
Thumbs.db
.DS_Store
/src/bootstrap/cache/*

# IDE config
/src/.idea
/Homestead.json
/Homestead.yaml
/_ide_helper.php
/.phpstorm.meta.php
/.idea
/nbproject
/.buildpath
/.project
/.settings
/jsconfig.json
/.git/

# vendor
/node_modules/
/example/node_modules
package-lock.json

# production
/dist
/docs

# Logs
npm-debug.log
yarn-error.log
