.json-editor {
  &__input,
  &__select,
  &__btn {
    line-height: 1;
    background-color: white;
    box-shadow: none;
    outline: none;
  }
  &__input,
  &__select {
    display: block;
    min-width: 0;
    padding: 3px 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 14px;
    &:focus {
      border-color: green;
    }
  }
  &__select,
  &__btn {
    cursor: pointer;
  }
  &__input {
    flex-grow: 1;
    border-color: transparent;
    text-overflow: ellipsis;
    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__select {
    flex-shrink: 0;
    margin-left: auto;
    border-color: black;
  }
  &__btn {
    &_icon {
      --btn-size: 14px;
      padding: 0;
      font-size: var(--btn-size);
      text-align: center;
      border: none;
      border-radius: 0;
    }
  }
  .btn-icon {
    --btn-icon-color: black;
    --btn-icon-border-color: black;
    width: 16px;
    display: inline-block;
    border: 1px solid var(--btn-icon-border-color);
    border-radius: 3px;
    transition: color 0.2s ease, border-color 0.2s ease;
    &:hover {
      color: var(--btn-icon-color);
      border-color: var(--btn-icon-border-color);
    }
    &_add {
      &:hover {
        --btn-icon-color: green;
        --btn-icon-border-color: var(--btn-icon-color);
      }
    }
    &_delete {
      &:hover {
        --btn-icon-color: red;
        --btn-icon-border-color: var(--btn-icon-color);
      }
    }
    &_drag {
      cursor: move;
      &:hover {
        --btn-icon-color: blue;
        --btn-icon-border-color: var(--btn-icon-color);
      }
    }
    &_collapse {
      --btn-icon-border-color: transparent;
      transform: rotateZ(180deg);
      transition: transform 0.2s ease;
      &:hover {
        --btn-icon-color: grey;
      }
    }
  }
  [aria-expanded='false'] {
    .btn-icon {
      &_collapse {
        transform: rotateZ(90deg);
      }
    }
  }
  .object-view {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px dashed transparent;
    &--collapsed {
      border-color: grey;
    }
    &_list {
      padding-right: 4px;
      border-right: 1px dashed grey;
      border-radius: 4px;
      & > .object-view__key {
        flex-grow: 1;
        display: flex;
        & > *:not(:last-child) {
          margin-right: 5px;
        }
        .key-input {
          flex-grow: 1;
        }
      }
      & > .object-view__value {
        flex-shrink: 0;
        order: 1;
        width: 100%;
        margin-top: 8px;
      }
    }
    & > *:not(:last-child) {
      margin-right: 5px;
    }
    &__container {
      margin-left: 16px;
    }
    &__key {
      flex-shrink: 0;
    }
    &__value {
      flex-grow: 1;
    }
    &__tools {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      margin-left: auto;
      & > *:not(:last-child) {
        margin-right: 5px;
      }
    }
    .key {
      &__input {
        font-weight: bold;
      }
    }
    .value {
      &__input {
        width: 100%;
        color: green;
        border-color: transparent;
        &:focus {
          border-color: green;
        }
      }
    }
  }
  .new-item-form {
    display: block;
    & > *:not(:last-child) {
      margin-bottom: 8px;
    }
    &__group {
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 5px;
      }
      &_btns {
        justify-content: flex-end;
      }
    }
    &__input {
      flex-grow: 1;
      border-color: grey;
    }
  }
}
