.json-editor {
  select {
    cursor: pointer;
  }
  &__btn {
    --btn-size: 1em;
    padding: 0;
    font-size: var(--btn-size);
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.7;
    }
    .btn-icon {
      --btn-color: black;
      --btn-border-color: black;
      width: 1em;
      display: block;
      border: 1px solid var(--btn-border-color);
      border-radius: 3px;
      transition: color 0.2s ease, border-color 0.2s ease;
      &:hover {
        color: var(--btn-color);
        border-color: var(--btn-border-color);
      }
    }
    &_add {
      .btn-icon {
        &:hover {
          --btn-color: green;
          --btn-border-color: var(--btn-color);
        }
      }
    }
    &_delete {
      .btn-icon {
        &:hover {
          --btn-color: red;
          --btn-border-color: var(--btn-color);
        }
      }
    }
    &_drag {
      cursor: move;
      .btn-icon {
        &:hover {
          --btn-color: blue;
          --btn-border-color: var(--btn-color);
        }
      }
    }
    &_collapse {
      .btn-icon {
        --btn-border-color: transparent;
        font-weight: 700;
        transform: rotateX(0deg);
        transition: transform 0.2s ease;
        &:hover {
          --btn-color: grey;
        }
      }
      &[data-collapsed='true'] {
        .btn-icon {
          transform: rotateX(180deg);
        }
      }
    }
  }
}
.add-new-item {
  --size: 1em;
  padding: 0 calc(var(--size) / 4);
  color: black;
  font-size: var(--size);
  line-height: 1;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  &:hover {
    color: green;
    border-color: green;
  }
}
.new-item-form {
  display: block;
  margin-bottom: 20px;
  &__inputs-group,
  &__btns-group {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__input {
    flex-grow: 1;
    min-width: 0;
    padding: 3px 6px;
    select {
      flex-shrink: 0;
    }
  }
  &__btns-group {
    justify-content: flex-end;
    margin-top: 10px;
  }
}
