select {
  cursor: pointer;
}
.add-new-item {
  --size: 1em;
  padding: 0 calc(var(--size) / 4);
  color: black;
  font-size: var(--size);
  line-height: 1;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  &:hover {
    color: green;
    border-color: green;
  }
}
.new-item-form {
  display: block;
  margin-bottom: 20px;
  &__inputs-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    & > *:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__input {
    flex-grow: 1;
    min-width: 0;
    padding: 3px 6px;
    select {
      flex-shrink: 0;
    }
  }
  &__btns-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}
